@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Enter your account number to begin.</p>
    <p> <a href="/Accounts">Accounts</a>.</p>

</div>
