@model WebBankingApp.Models.Transaction

@{
    ViewData["Title"] = "Deposit";
}

<div class="text-center">
    <h1>Deposit</h1>

    <h4>Transaction</h4>
    <hr />
    <form asp-action="Deposit" asp-route-shareId="@ViewData["shareId"]">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            Check Upload: <input type="file" name="file_Uploader" />
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-controller="Accounts" asp-action="Details" asp-route-Id="@Context.Request.Cookies["accountId"]">Back to Account View</a>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
